{% extends 'base.html' %}

{% block content %}
    <a href="/">Home</a>

    <!-- 
        TODO: Use the guest object to display the correct name, email, phone, and
        events attending
    -->

    <h1>Ducky</h1>

    <p><strong>Email:</strong> {{ new_guest.name }}</p>
    <p><strong>Phone:</strong> {{ new_guest.phone }}</p>

    <h2>Events Attending:</h2>

    {% if new_guest.events_attending != None %}
        <ul>
            {% for event in events %}
                <li>
                    <a href="/event/1">{{ new_guest.events_attending }}</a>
                </li>
                <li>
                    <a href="/event/2">Picnic in the Park</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
